include README.md pyproject.toml
recursive-include docs *.md
recursive-include examples *.py *.yaml
recursive-include notebooks *.py
recursive-include tests *.py
recursive-include scripts *.py
recursive-include sample_lookup_files *.md *.json
recursive-include src/va_datamask/data *.json
